.div {
  display: flex;
}

.btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: black;
  color: #fff;
  font: inherit;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  overflow: hidden;
}

.btn::before,
.btn::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::before {
  margin-right: 5px;
  background-color: blue;
}

.btn::after {
  position: absolute;
  top: 50%;
  left: 30px;
  background-color: yellow;

  transition: -50%;
  transform: translateY(calc(-50% + 30px));
}

.btn:hover::before {
  transform: translateY(-35px);
}

.btn:hover::after {
  transform: translateY(-50%);
}

.btn:hover,
.btn:focus {
  background-color: red;
}

/* ------------------------------- */

.menu {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
}
.menu-item {
  position: relative;

  margin-right: 15px;
  outline: 1px solid red;
}

.menu-item:hover .submenu {
  display: block;
}

.menu-link {
  display: block;
  padding: 10px 20px;

  text-decoration: none;
  background-color: teal;
  color: #fff;
}

.submenu {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  background-color: #ccc;

  display: none;
}

.submenu a {
  text-decoration: none;
}
